.DS_Store
data_dryad
proofs
writeup/*.mp
writeup/*.aux
writeup/*.bbl
writeup/*.blg
writeup/*.log
writeup/*.out
writeup/*.gz
writeup/*.tmp
writeup/*.tui
writeup/Figure_1-eps-converted-to.pdf
writeup/Figure_10-eps-converted-to.pdf
writeup/Figure_2-eps-converted-to.pdf
writeup/Figure_3-eps-converted-to.pdf
writeup/Figure_4-eps-converted-to.pdf
writeup/Figure_5-eps-converted-to.pdf
writeup/Figure_6-eps-converted-to.pdf
writeup/Figure_7-eps-converted-to.pdf
writeup/Figure_8-eps-converted-to.pdf
writeup/Figure_9-eps-converted-to.pdf
writeup/Genetics_sub1_v_sub2_diff.pdf
writeup/appeal.pdf
writeup/conStruct.tex
writeup/conStruct.pdf
writeup/sub1_vs_sub2_diff.pdf
writeup/Makefile
writeup/macros.tex
writeup/plosgen_prep.R
writeup/cover_letter*
writeup/rejection_letter*
writeup/response2appeal.pdf
writeup/response2reviews.pdf
writeup/latex
writeup/previous_response2reviews.tex
writeup/layer_contributions.html
data/bears/data/*.log
data/bears/data/*.raw
data/bears/fastStructure
data/poplars/data/FOR_DRYAD_TandB_fwd_june2013_434.txt
data/poplars/fastStructure
sims/missing_data
sims/methods
sim_data/K_1/*.pdf
sim_data/K_2/*.pdf
sim_data/K_3/*.pdf
sims/analyses/fastStructure